.rooms {
  display: flex;
  flex-direction: column;
  height: 220px;
  margin-right: 10px;
  overflow-y: scroll;
}

.rooms a {
  border: 1px solid black;
  padding: 11px;
  text-decoration: none;
  font-size: 13px;
  color: rgb(51, 51, 51);
}

.user {
  font-weight: bold;
}

.rooms a:hover,
.rooms a:active {
  color: orange
}